{{! renders a json-schema without the surrounding panel.}}
{{>json-schema/reference $ref}}
{{#if description}}
    <section class="json-schema-description">
        {{md description}}
    </section>
{{/if}}
{{#if properties}}
    {{>json-schema/properties}}
{{/if}}
{{#if additionalProperties}}
    {{>json-schema/additionalProperties additionalProperties}}
{{/if}}

{{#if items}}
    {{>json-schema/array-items items}}
{{/if}}
{{#if allOf}}
    {{>json-schema/allOf allOf}}
{{/if}}
{{#if anyOf}}
    {{>json-schema/anyOf anyOf}}
{{/if}}
