{{!
When properties are renderered this partial renders the datatype of a property,
with a link to the type-definition (in case of a $ref).
Depending on the input, it renders an augmented data-type (e.g. "string[]"),
the 'format'-value (e.g. "date-time") and "enum"-values.
}}
<span class="json-property-type">
    {{#if $ref}}
        {{>json-schema/reference $ref}}
    {{else}}
        {{json-schema--datatype .}}
    {{/if}}
</span>
{{#if format}}
    <span class="json-property-format">({{format}})</span>
{{/if}}

{{#if enum}}
    <span class="json-property-enum" title="Possible values">&isin; {
        {{#each enum}}
            <span class="json-property-enum-item">{{.}}</span>{{#unless @last}},{{/unless}}
        {{/each}}
        }
        </span>
{{/if}}