{{! entry point for the whole template: Renders the whole HTML-page}}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div class="container">
            {{>json-schema/main-panel}}
            {{#if definitions}}
                <h2>Definitions</h2>
                {{>json-schema/definitions}}
            {{/if}}
        </div>
    </body>
</html>