{{!
    This partial is rendered into the `<head>`-tag of the page. if can be overridden
    to replace its contents.
}}
<link rel="stylesheet" href="main.css">
<meta charset="UTF-8">
<title>{{>base/title}}</title>
                                                     