{{!@public}}{{! Default template for rendering the HTML-page.}}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
    <title>{{>base/title}}</title>
</head>
<body>
{{>base/header}}
<div class="container">
    {{>base/body}}
</div>
{{>base/footer}}
</body>
</html>
