{{!Renders json-schema object properties.}}
<section class="json-schema-properties">
    <dl>
        {{#each properties}}
            <dt>
                {{!Single property, default type is "object"}}
                <span class="json-property-name">{{@key}}:</span>
                {{>json-schema/datatype}}
            </dt>
            <dd>
                {{#ifeq @key ../discriminator}}
                    <span class="json-property-discriminator"></span>
                {{/ifeq}}
                {{#ifcontains ../required @key}}
                    <span class="json-property-required"></span>
                {{/ifcontains}}

                {{md description}}
                {{!Show details of nested property schema}}
                <div class="json-inner-schema">
                    {{>json-schema/body $ref=""}}
                </div>
            </dd>
        {{/each}}
    </dl>
</section>
